In [2]:
import pandas as pd # remember this creates an alias 'pd' for pandas
fname = 'Data/campfire-gases-2018-11.csv' #Path relative to current 
gases = pd.read_csv(fname)
list(gases)

['Latitude',
 'Longitude',
 'Time',
 'H2O_MR_500mb',
 'H2O_MR_850mb',
 'CO_MR_500mb',
 'CO_MR_850mb',
 'O3_MR_500mb',
 'O3_MR_850mb',
 'CH4_MR_500mb',
 'CH4_MR_850mb',
 'N2O_MR_500mb',
 'N2O_MR_850mb',
 'CO2_500mb',
 'CO2_850mb',
 'datetime']

In [14]:
gases.columns

Index(['Latitude', 'Longitude', 'Time', 'H2O_MR_500mb', 'H2O_MR_850mb',
       'CO_MR_500mb', 'CO_MR_850mb', 'O3_MR_500mb', 'O3_MR_850mb',
       'CH4_MR_500mb', 'CH4_MR_850mb', 'N2O_MR_500mb', 'N2O_MR_850mb',
       'CO2_500mb', 'CO2_850mb', 'datetime'],
      dtype='object')

In [15]:
# List the first few rows and certain columns
gases.loc[0:5,['Latitude','Longitude', 'CH4_MR_500mb','CH4_MR_850mb','datetime']]

,Latitude,Longitude,CH4_MR_500mb,CH4_MR_850mb,datetime
0,39.693913,-120.49820,1842.4436,1892.8062,2018-11-01 10:39:44.183998108
1,39.996113,-121.75796,1861.1800,1891.7012,2018-11-01 10:39:44.383998871
2,39.248516,-120.72343,1861.7188,1894.3835,2018-11-01 10:39:52.183998108
3,39.547660,-121.97622,1847.3370,1889.8491,2018-11-01 10:39:52.383998871
4,38.802532,-120.94534,1890.4450,1899.3243,2018-11-01 10:40:00.184000015
5,38.913975,-121.84265,1919.1682,1897.5906,2018-11-01 20:21:36.183998108